<html lang="en">
    <head>
        <title>
            Employee Details
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"> 

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            button{
                margin-left:140px;
                margin-top:30px;
            }
        </style>
    </head>
        <body>
            <div class="container mt-5">
                <h1 class=" text-center">
                    UPDATE EMPLOYEE DETAILS
                </h1><br>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">  
                        <form method="post" action="{% url 'edit_details' eps.pk %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <h6>Name :</h6>
                            <input type="text" name="name" class="form-control mt-3" value="{{ eps.name }}">
                            <h6>Age :</h6>
                            <input type="number" name="age" class="form-control mt-3" value="{{ eps.age }}">
                            <h6>Phone :</h6>
                            <input type="text" name="phone" class="form-control mt-3" value="{{ eps.phone }}">
                            <h6>Experience :</h6>
                            <input type="number" name="experience" class="form-control mt-3" value="{{ eps.experience }}">
                            <h6>Employee Image :</h6>
                            <img src="{{ eps.image.url }}" class="w-25">
                            <input type="file" name="file" class="form-control mt-3" accept="image/*">
                            <button type="submit" class="btn btn-info mt-3 w-50">EDIT</button>
                        </form>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
        </body>
        </html>